:root {
    --primary-color:#b91450;
    --secondary-color:white;
}

/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
}

h2 {
    color: white;
}

.primaparte, .secondaparte {
    background-color: var(--secondary-color);
}